body {
    display: grid;
    background-color: beige;
    margin: 0px;
    padding: 0px;
    border: 0px;
    gap: 10px;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 100px);
}
div{
    padding: 20px;
}

.pr1 {
    background-color: rgb(255, 96, 96);
    grid-row: 1/3;
    grid-column: 2/4;
}

.pr2 {
    background-color: rgb(255, 239, 121);

}

.pr3 {
    background-color: rgb(143, 203, 106);

}

